.header {
    position: fixed;
    background-color: rgba(44, 62, 80, 0.9);
    padding: 15px 30px;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.header-nav {
    display: flex;
    align-items: center;
}

.user-menu {
    position: relative;
}

.user-menu-button {
    background-color: #3498db;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-content: center;
}

.user-menu-button:hover {
    background-color: #2980b9;
}

.user-menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    z-index: 1000;
}

.user-menu-list li {
    padding: 0;
}

.user-menu-list button {
    width: 100%;
    padding: 10px 20px;
    background: none;
    border: none;
    text-align: left;
    color: #2c3e50;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-menu-list button:hover {
    background-color: #f0f0f0;
}

.header h1:hover{
    cursor: pointer;
}

.profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-left: 1px;
}
